{% extends "base.html" %}
{% load static %}
{% block title %}
    My Blog
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock css_files %}
{% block content %}
    <section>
        <!-- <header>
            <img src="{% static 'blog/images/face.jpg' %}" alt="" width="250px">
            <h2>Suresh' Blog</h2>
        </header>
        <p>Hi, I am Suresh and I love to blog About Python</p> -->
        <section>
            <h1>My latest Python Updates</h1>
            <ul>
                {% for post in posts %}
                    {% include "blog/includes/post.html" %}
                {% endfor %}
            </ul>
        </section>
    </section>
{% endblock content %}
