{% extends "base.html" %}
{% load static %}
{% block title %}
    My Blog
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
{% endblock css_files %}
{% block content %}
    <section>
        <section>
            <h1>My latest Python Updates</h1>
            <ul>
                {% for post in posts %}
                    {% include "blog/includes/post.html" %}
                {% endfor %}
            </ul>
        </section>
    </section>
{% endblock content %}
