{% extends "base.html" %}
{% load static %}
{% block title %}
    This post title
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-details.css' %}"/>
{% endblock css_files %}
{% block content %}
    <section>
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in tags %}<span>{{ tag.caption }}</span>{% endfor %}
        </div>
        <div>
            <form action="{% url 'read-later' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}"/>
                <button type="submit">
                    {% if saved_for_later %}
                        remove from "Read Later" List
                    {% else %}
                        Read Later
                    {% endif %}
                    

                </button>
            </form>
        </div>
        <article>
            <img src="{{ post.image.url }}"
                 alt=""
                 width="750px"
                 height="auto"/>
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a> </address>
            <div>
                last updated on  <time>{{ post.date|date:"d M y" }}</time>
            </div>
        </article>
    </section>
    <main>
        {{ post.content|linebreaks }}
    </main>
    <section id="comments">
        <ul>
            {% for comment in comments %}
            <li>
                <h2>{{ comment.user_name }}</h2>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    <div>
        <form action="{% url 'post-details-page' post.slug %}" method="post">
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.error }}
            </div>
            {% endfor %}
            <button type="submit">Comment</button>
        </form>
    </div>
{% endblock content %}
